.postsContainerCard {
    height: 170px;
    width: 80vw;
    border: 1px solid rgba(225, 235, 228, 0.733);
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(225, 235, 228, 0.733);
    padding: 20px 20px 0 20px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    transition: 300ms;
    color: rgb(1, 45, 8);
    background-color: rgba(244, 249, 244, 0.943);
}

.postsInnerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.postsTextCard {
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 20px;
    height: 100%;
    justify-content: center;
}

.postImg {
    max-width: 80%;
    border-radius: 10px;
}

.postsContainerCard:visited {
    color: rgb(104, 146, 111);
}

.postsContainerCard h3 {
    margin: 0;
}



@media screen and (min-width: 568px) {

     .postsContainerCard {
        height: auto;
        width: 800px;
        padding: 10px 20px;
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between; 
    }

    .postsContainerCard:hover {
        background-color: rgba(255, 255, 255, 0.683);
        box-shadow: 0 0 20px 2px rgba(194, 199, 196, 0.906);
    }

    .postsContainerCard img {
        max-width: 250px;
    }

    .postsTextCard {
        gap: 40px;
    }

    .postsContainer {
        margin: 20px;
    }

    .postsPage {
        margin: 10px;
    }

    .postsInnerContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .postInfoDetails {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        width: 100%;
    }

    .postInfoDetails button {
        border: none;
        background-color: transparent;
        padding-bottom: 10px;
    }   
    
    .postInfoDetails button:hover {
        font-size: 1.1em;
        padding-bottom: 10px;
        cursor: pointer;
    }

    
}