.main-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-detail-cont{
    background-color: white;
    width: 80%;
    border-radius: 10px;
    padding: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.item-info-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.item-info-cont img{
    width: 25rem;
    border-radius: 10px;
}

.item-info {
    width: 25rem;
    text-align: start;
}

.item-detail-cont a {
    color: rgb(19, 146, 40);
}

.item-detail-cont a:hover {
    color: rgb(7, 79, 19);
    font-weight: bolder;
}

.item-detail-cont button {
    border: none;
    border-radius: 17px;
    padding: 10px;
    color: white;
    background-color:rgb(16,124,44);
    margin: .8rem;
    width: 5rem
}

.item-detail-cont button:hover {
    cursor: pointer;
    background-color: rgb(16, 98, 27);
    color:rgb(240, 255, 242);
    border: none;
    border-radius: 17px;
    padding: 10px;
}

.item-detail-cont h3 {
    margin-top: 2rem;
}

.delete-btn{
    border: none;
    border-radius: 17px;
    padding: 10px;
    color: white;
    background-color:rgb(124, 16, 16)!important;
    margin: .3rem;
    height: 2.3rem;
}

.delete-btn:hover{
    cursor: pointer;
    background-color: rgb(56, 1, 1)!important;
    color:rgb(240, 255, 242);
    border: none;
    border-radius: 17px;
    padding: 10px;
}

@media (max-width: 768px) {
    
    .item-info-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .item-info-cont > img {
        width: 85%;
    }

    .item-info {
        width: 85%;
        text-align: center;
        margin-top: 1.5rem;
    }


}