.event-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.event-filter-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.event-filter {
    display: flex;
    flex-direction: row;
    gap:10px;
    width: 70%;
}

.event-search {
    width: 80%;
    border: 1px solid rgba(1, 45, 8, 0.342);
    border-radius: 17px;
    padding-left: 10px;
    font-size: 16px;
}

.event-search:hover {
    border-color:rgb(1, 45, 8);
    cursor: pointer;
}

.event-filter select{
    border: solid 1px rgb(16, 98, 27);
    border-radius: 17px;
    width: 20%;
    height: 2.3rem;
}

.event-cont button {
    border: none;
    border-radius: 17px;
    padding: 10px;
    color: white;
    background-color:rgb(16,124,44);
    width: 8rem
}

.event-cont button:hover {
    cursor: pointer;
    background-color: rgb(16, 98, 27);
    color:rgb(240, 255, 242);
    border: none;
    border-radius: 17px;
    padding: 10px;
}

.back-to-top{
    margin-top: 2rem;
}



@media (max-width: 768px) {
    
    .event-filter-cont{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 2rem;
    }

    .event-filter {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap:10px;
        width: 80%;
    }

    .event-filter select{
        border: solid 1px rgb(16, 98, 27);
        border-radius: 17px;
        width: 40%;
    }
   
}
