nav {
    background-color: rgba(255, 255, 255, 0.868);
    border-bottom: 1px solid rgba(1, 45, 8, 0.342);
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed; 
    top: 0;
    width: 100%;
}

nav a {
    text-decoration: none;
}

nav button {
    border: none;
    background-color: transparent;
}

.smallLogo {
    height: 40px;
    padding-left: 10px;
}

.bigLogo {
    display: none;
}

.dropdownLogo {
    height: 25px;
}

#profileImg img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

#dropdownNavBar {
    position: absolute;
    margin-right: 0;
    margin-top: 0;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.868);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rodal-fade-enter {
    animation: rodal-fade-enter both ease-in;
}


@media screen and (min-width: 768px) {
    
    .smallLogo {
        display: none;
    }
    .bigLogo {
        display: block;
        height: 45px;
        width: 200px;
    }

    .navLink.active {
        border-bottom: 2px solid rgb(23, 106, 37);
        font-weight: bold;
    }

    .navLink:hover {
        border-bottom: 2px solid rgb(23, 106, 37);
        cursor: pointer;
    }

    .navDiv {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .navLink {
        border: none;
        border-bottom: 2px solid transparent;
        background-color: transparent;
        font: inherit;
        align-items: center;
        color: rgb(23, 106, 37);
        padding: 5px 0;
        transition: 300ms;
    }
    
    .navLinks {
        width: 40%;
    }

    .navUser{
        width: 10%;
    }
   
}