.login-page {
display: flex;
flex-direction: column;
align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    width: 60%;
    justify-content: center;
}

.login-page form label {
    font-weight: bolder;
}

form input  {
    width: 100%;
    text-align: center;
    font-size: 16px;
}

form button {
    border: none;
    border-radius: 17px;
    padding: 10px;
    color: white;
    background-color:rgb(16,124,44);
    margin: .8rem;
    width: 5rem;
    letter-spacing: 1px;
}



@media screen and (min-width: 768px) {

        form {
            width: 40%;
        }
        
        form input  {
            width: 60%;
        }
        
        form button:hover {
            cursor: pointer;
            background-color: rgb(16, 98, 27);
            color:rgb(240, 255, 242);
            border: none;
            border-radius: 17px;
            padding: 10px;
        } 

        .login-page a:hover {
            font-weight: bolder;
        }
}