.modifyForm {
    height: 100%;
    line-height: 40px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.formContainer {
    height: 85%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formContainer button {
    width: 30%;
    margin-left: 35%;
    border: none;
    border-radius: 17px;
    padding: 10px;
    color: rgb(16, 98, 27);
    background-color:rgb(240, 255, 242)
}

.formContainer button:hover {
    width: 30%;
    margin-left: 35%;
    cursor: pointer;
    background-color: rgb(16, 98, 27);
    color:rgb(240, 255, 242);
    border: none;
    border-radius: 17px;
    padding: 10px;
}

.innerForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.innerForm input, select, textarea {
    width: 60%;
    text-align: center;
    border: none;
}

.innerForm input:hover, select:hover, textarea:hover {
    background-color: rgb(240, 255, 242);
    font-weight: bolder;
    cursor: pointer;
}


.imgInput {
    padding-left: 0;
}

