.news{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* .treesBackground {
    width: 100%;
    height: 300px;
    background-image: url("../../images/trees.jpg");
} */