.container{
    color:  rgb(23, 106, 37);
    font-size: larger;
}

.image{
    width: 900px;
    height: 500px;
    margin-top: 50px;
    margin-bottom: 112px;
    border-radius: 80px;  
}

button {
    border: none;
    border-radius: 17px;
    padding: 10px;
    color: white;
    background-color:rgb(16,124,44);
    margin: .8rem;
}
button:hover {
    cursor: pointer;
    background-color: rgb(16, 98, 27);
    color:rgb(240, 255, 242);
    border: none;
    border-radius: 17px;
    padding: 10px;
}
